body {
    box-sizing: border-box;
    background-color:#e5e8ee;
    font-family: Verdana;
    
}

.body {
    width: max-content;
    border: 1px solid black;
    border-bottom: 5px solid #28b1f7;
    position: relative;
    border-radius: 10px;
    margin:  0 auto;
    justify-content: center;
    background-color: #29303c;
    z-index: 5;
}

h1 {
    color: #fdcd47;
    margin-bottom: 0px;
}

img#logo {
    width: 50px;
    height: 50px;
}

.destinylogo {
    position: relative;
    margin:  0 auto 5px;
    width: 50px;
    height: 50px;
}

#reset-button {
    background-color: #e5e8ee;
    margin-bottom: 5px;
}

button {
    border-radius: 20px;
    background-color: #fdcd47;
}

.hide {
    display: none;
}

.mainbody {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 5px 10px;
    width: 750px;
}

#left {
    display: flex;
    border: 1px solid black;
    border-bottom: 5px solid #28b1f7;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    flex-direction: column;
    width: 165px;
    height: 169.8px;
    background-color: #e5e8ee;
}

.right {
    display: flex;
    border: 1px solid black;
    border-bottom: 5px solid #28b1f7;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    flex-direction: column;
    align-items: flex-end;
    width: 165px;
    height: 169.8px;
    background-color: #e5e8ee;
}

.bottom {
    position: relative;
    width: max-content;
    border-radius: 10px;
    margin:  25px auto 0px;
}
#images {
    height: 254px;
    margin: 0px auto;
    position: relative;
    width: 185px;
}

#images img {
    bottom: 0;
    position: absolute;
    width: 100%;
}

#images img.cayde,
#images img.shaxx,
#images.shaxx.cayde img.cayde  {
    display: none;
}

#images.cayde img.cayde,
#images.shaxx img.shaxx  {
    display: block; 
}

#winner {
    position: relative;
    height: 254px;
    width: 185px;
    margin: 0px auto ;
    display: none;
    border: 1px solid black;
    border-bottom: 5px solid #28b1f7;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    flex-direction: column;
    width: 166.8px;
    height: 169.8px;
    background-color: #e5e8ee;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#shaxx {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0px auto ;
    display: block;
}

#winner.winner {
    display: block; 
}

.hive {
    position: relative;
    left: -10px;
    width: max-content;
    margin: 0px auto 10px;
}

.clear {
    clear: both;
}
#reset-container, h1 {
    text-align: center;
}

#resetnumber {
    color: #fdcd47;
}